

:root {

   font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
   
   line-height: 1.5;
   font-weight: 400;
   font-size:17px;
 
   color-scheme: light dark;
   color: rgba(255, 255, 255, 0.87);
   background: white;
 
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;


   --cover_block_height:105vh;


   /* 
    COLORS
    =============================================
   Kingfisher color scheme
   #0EA5C3    light
   #13417C    primary
   #FB9543    secondary
   #D9AE17    accent
   #2D5958    dark
*/

   /*
   //    PRIMARY COLORS - 1 - 3 brand colors 
   */
   --bg_primary:               hsl(190, 87%, 41%); /* #0EA5C3 */
   --bg_primary_text:          white;
   --bg_primary_lighter:       hsl(190, 87%, 51%);
   --bg_primary_lighter_text:  black;
   --bg_primary_darker:        hsl(190, 87%, 31%);
   --bg_primary_darker_text:   white;


   --bg_secondary:             hsl(27, 96%, 62%); /* #FB9543 */
   --bg_secondary_text:        white;
   --bg_secondary_lighter:     hsl(27, 96%, 72%);
   --bg_secondary_lighter_text:white;
   --bg_secondary_darker:      hsl(27, 96%, 52%);
   --bg_secondary_darker_text: white;

   --bg_light:                 hsl(190, 87%, 41%); /* #0EA5C3 */
   --bg_light_text:            black;
   --bg_light_lighter:         hsl(190, 87%, 51%);
   --bg_light_lighter_text:    black;
   --bg_light_darker:          hsl(190, 87%, 31%);
   --bg_light_darker_text:     white;

   --bg_dark:                  hsl(179, 33%, 26%); /* #2D5958 */
   --bg_dark_text:             white;
   --bg_dark_lighter:          hsl(179, 33%, 36%);
   --bg_dark_lighter_text:     white;
   --bg_dark_darker:           hsl(179, 33%, 16%);
   --bg_dark_darker_text:      white;


   /*    
   //    ACCENT COLORS - highlight components / cta's / links  - complement primary color
   */
   --bg_accent:            hsl(47, 81%, 47%);     /* #D9AE17 */
   --bg_accent_lighter:    hsl(47, 81%, 57%);
   --bg_accent_darker:  hsl(47, 81%, 37%);
   --bg_accent:         hsl(47, 81%, 47%);
   --bg_accent_text:      white;


   /* 
   //    SECONDARY COLORS - 3 - 5 - complement brand colors
   */
   --secondary_1:         hsl(218, 35%, 57%);     /* text color */
   --secondary_2:         hsl(224, 14%, 53%);     /* secondary (sm) section supporting headers */
   --secondary_1_bg:      hsl(0, 0%, 12%);        /* dark bg - footer */
   --secondary_1_color:   white;

   --secondary_2_bg:      hsl(0, 0%, 20%);        /* dark bg 2 - footnote / button.bg on secondary_1_bg*/
   --secondary_2_color:   white;

   --secondary_3_bg_dark: hsl(205, 33%, 24%);
   --secondary_3_bg:      hsl(205, 33%, 34%);     /* dark bg 3 - underlying cover images on sections / cover_sections */
   --secondary_3_bg_light:hsl(205, 33%, 44%); 
   --secondary_3_color:   white;


   /* 
   //    NEUTRAL COLORS  - 2 -3 - light to dark - w/ some tint - perhaps tint of brand color
   */
   --neutral_1:           hsl(220, 23%, 97%);     /* section background */
   --neutral_1_bg_darken: hsl(220, 23%, 92%);
   --neutral_1_bg:        hsl(220, 23%, 97%);
   --neutral_1_bg_lighten:hsl(220, 23%, 100%);
   --neutral_2_bg_darken: hsl(240, 100%, 85%);
   --neutral_2_bg:        hsl(240, 100%, 90%);    /* neutral - 2 - blue */
   --neutral_2_bg_lighten:hsl(240, 100%, 95%); 


   /* 
   //    SEMANTIC COLORS - informative colors 
   */
   --semantic_negative_bg:hsl(0, 100%, 75%);      /* red    - negative / error */
   --semantic_positive_bg:hsl(120, 93%, 79%);     /* green  - positive */
   --semantic_warning_bg: hsl(39, 100%, 75%);     /* orange - warning  */
   --semantic_neutral_bg: hsl(240, 100%, 75%);    /* blue   - neutral  */


   /* 
   //    TEXT COLORS 
   */
   --body_text_color:         hsl(0, 0%, 40%);
   --header_text_color_dark:  hsl(0, 0%, 10%);  /* h1, h2, h3 */
   --header_text_color:       hsl(0, 0%, 20%);
   --grey_text:               lightgrey;

   /* 
   //   LAYOUTS
   */
   --header_height:450px;
   --default_text_align: left;
   --logo_font_color:var(--primary_1);
   --logo_font_size:3rem;
   --hero_text_color:     white;
   --hero_text_width:100%;
   --overlay_text_align:left;
   --section_inline_padding:3rem;
   
   
   /* 
   //    TEXT / HEADINGS
   */

   /* headings */
   
   --h1_size:3rem;
   --h1_line_height:8rem;
   --h2_size:3rem;
   --h2_line_height:4rem;
   --h3_size:2.5rem;
   --h3_line_height:4.2rem;
   --h4_size:1.75rem;
   --h4_line_height:2.5rem;
   --h5_size:1.3rem;
   --h5_line_height:2rem;
   --h6_size:1rem;
   --h6_line_height:1.3rem;

   /* paragraphs */
   --paragraph_width:50rem;
   --paragraph_padding:1rem;
   --section_overlay_text_color:white; /* text color over background images */


   --bg_primary:               hsl(190, 87%, 41%);
   --bg_primary:               hsl(190, 87%, 41%); /* #0EA5C3 */
   --bg_primary_text:          white;

   /* utility classes for vars */
   .bg_primary    {color:var(--bg_primary_text);   background-color:var(--bg_primary);}

   
   /* 
   z-index layers 
   */
   --app_status_layer:2100;
   --over_over_over_nav_layer:2000;
   --over_over_nav_layer:1999;
   --over_nav_layer:1998;
   --nav_layer:1900;
   --just_under_nav_layer:920;
   --under_nav_layer:-10;

   /* layers within body element */
   --nav_z:1000;
   --button_z:900;
   --cover_block_overlay_z:900;
   --cover_block_h1_z:900;
   --cover_block_z:860;
   --song_card_z:870;
   --music_note_z:600;
   --porthole_z:850;
   --track_listing_z:820;
   --bubble_z:900;

   /* local layers within components */
   --cover_block_before_z:100;

   --bg_primary:transparent;

   --player_tracks_list_height:80vh;
}



.bg_primary    {color:var(--bg_primary_text);   background-color:var(--bg_primary);}
.bg_accent     {color:var(--accent_color);      background-color:var(--bg_accent);}
.bg_secondary  {color:var(--bg_secondary_text); background-color:var(--bg_secondary);}
.bg_light      {color:var(--bg_light_text);     background-color:var(--bg_light);}
.bg_dark       {color:var(--bg_dark_text);      background-color:var(--bg_dark);}
.bg_neutral    {color:var(--neutral_color);     background-color:var(--bg_neutral);}



html {
   scroll-behavior:smooth;
   box-sizing: border-box;
}
*, *:before, *:after {
   box-sizing: inherit;
}

#root {
  max-width: 1600px;
  position:relative;
  width:100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  position:relative;
/* overflow-x:hidden; */
}

p {
   max-width:36rem;
   margin:1rem auto;
}
@media screen and (max-width: 768px) {

   p {
      max-width:100%;
      
   }
}

button {
   width:fit-content;
   margin-top:1rem;
   margin-bottom:1rem;
   padding:.8rem 1rem;
   background:transparent;
   color:hsl(0, 0%, 70%);
   border:solid 1px hsl(0, 0%, 70%);
   border-radius:5rem;
   cursor:pointer;
   font-size:1.1rem;
}

button:hover {
   color:hsl(0, 0%, 25%);
   border:solid 1px hsl(0, 0%, 25%);
}
button a {
   color:hsl(0, 0%, 70%);
   text-decoration:none;
}
button:hover a {
   color:hsl(0, 0%, 25%);
}
button.light_btn_hover:hover {
   color:white;
   border:solid 1px white;
}
button.light_btn_hover:hover > a {
   color:white;
}
.logo {
   height: 6em;
   padding: 1.5em;
   will-change: filter;
   transition: filter 300ms;
}
.logo:hover {
   filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
   filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
   a:nth-of-type(2) .logo {
      -webkit-animation: logo-spin infinite 20s linear;
      animation: logo-spin infinite 20s linear;
   }
}



body,main,section,img {
   margin:0;
   padding:0;
}
body {
   color:black;
}
ul {
   list-style:none;
}
main {
   position:relative;
   min-height:var(--header_height);
}


/* section headings */
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
   text-decoration:none;
}
h1,h2,h3,h4,h5,h6 {
   color:var(--header_dark_text_color);
   text-align:left;
   padding-left:1rem;
}

h1 {
   font-size:var(--h1_size);
   font-weight:400;
   /* line-height:var(--h1_line_height); */
   padding-top:1rem;
   padding-bottom:1rem;
   color:var(--header_text_color_dark);
}

h2 {
   font-size:var(--h1_size);
   font-weight:400;
   line-height:var(--h2_line_height);
   padding-top:1rem;
   padding-bottom:1rem;
   color:var(--header_text_color_dark);
}

h3 {
   font-size:var(--h3_size);
   font-weight:400;
   line-height:var(--h3_line_height);
   padding-top:1rem;
   padding-bottom:1rem;
   color:var(--header_text_color_dark);
}

h4 {
   font-size:var(--h4_size);
   font-weight:400;
   line-height:var(--h4_line_height);
   padding-top:1rem;
   padding-bottom:1rem;
}
h5 {
   font-size:var(--h5_size);
   font-weight:400;
   line-height:var(--5_line_height);
   padding-top:1rem;
   padding-bottom:1rem;
}
h6 {
   font-size:var(--h6_size);
   font-weight:400;
   line-height:var(--6_line_height);
   padding-top:.5rem;
   padding-bottom:.5rem;
}

a {
   font-weight: 500;
   color: #646cff;
   text-decoration: inherit;
}
 a:hover {
   color: #535bf2;
}




/* 
   main nav component
*/
nav {
   position:-webkit-sticky;
   position:sticky;
   top:0;
   left:0;
   z-index:var(--nav_layer);
   
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-align:center;
   -ms-flex-align:center;
   align-items:center;

   width:100%;
   height:var(--nav_bar_height);
   
   user-select:none;
   transition:transform .25s ease-in;
}
/* background or transparent nav over hero_block */
nav::before {
   content:'';
   position:absolute;
   top:0;
   left:0;
   z-index:-10;
   width:100%;
   height:100%;
   background:hsl(190, 87%, 41%);
}
nav.transparent::before {
   background-color:transparent;
}
nav.invisible_nav {
   -webkit-transform:translateY(-100%);
   transform:translateY(-100%);
   transition:transform .25s ease-in;
}

nav div.logo_block    {
   position:relative;
   z-index:var(--over_over_nav_layer);

   /* background is set by 'transparent' class on scrolling */

   -webkit-box-flex:2;
   -ms-flex-positive:2;
   flex-grow:2;

   text-align:left;
   height:var(--nav_bar_height);
   color:white;
}
nav div.logo_block a, footer div.logo_block a {
   font-size:3rem;
   font-weight:900;
}
nav a {
   font-size:var(--nav_font_size);
   white-space:nowrap;
   margin-left:1rem;
   color:white;
   cursor:pointer;
}
nav a:hover {
   color:white;
}

nav ul.nav_list {
   position:absolute;
   z-index:var(--over_nav_layer);
   top:-120vh;    /* default is hidden dropdown - prevents flicker on resizing browser */
   left:0;
   width:100%;
   height:110vh;
   
   -ms-flex-item-align:start;
   align-self:flex-start;
   -webkit-box-orient:vertical;     
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;
   
   padding-top:10rem; /* extra padding provides bg underneath transparent nav */
   background:hsl(190, 87%, 41%);

   -webkit-transform:translateY(0);
   -ms-transform:translateY(0);
   transform:translateY(0);
   opacity:0;
   transition:transform .5s ease-in-out,opacity 3s ease-in-out;
}
/* background or transparent nav over hero_block */
nav ul.nav_list::before {
   content:'';
   position:absolute;
   top:0;
   left:0;
   z-index:var(--under_nav_layer);
   width:100%;
   height:100%;
   background-color:var(--bg_primary);
}
nav.transparent ul.nav_list::before {
   background-color:transparent;
}

/* mobile menu hamburger btn toggle */
nav div.nav_toggle {
   position:relative;
   z-index:var(--over_over_nav_layer);

   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;
   -webkit-box-align:center;
   -ms-flex-align:center;
   align-items:center;

   padding:1rem;
   margin-right:1rem;
   width:20px;
   height:20px;
   cursor:pointer;
}
nav div.nav_toggle .toggle_bar {
   position:absolute;
   top:0;
   display:block;
   width:100%;
   height:2px;
   margin-bottom:5px;
   background:white;
   -webkit-transform:rotate(0);
   -ms-transform:rotate(0);
   transform:rotate(0deg);
   transition:.5s ease-in-out;
}
nav div.nav_toggle .toggle_bar:nth-child(3) {
   margin:0;
}

nav div.nav_toggle .toggle_bar:nth-child(1) {top:0px;}
nav div.nav_toggle .toggle_bar:nth-child(2) {top:5px;opacity:1;transition:.5s ease-in-out;left:0;width:100%;}
nav div.nav_toggle .toggle_bar:nth-child(3) {top:10px;}

/* rotate hamburger bars on toggle sm dropdown */
nav div.nav_toggle.selected_toggle .toggle_bar:nth-child(1) {
   top:5px;
   -webkit-transform:rotate(135deg);
   -ms-transform:rotate(135deg);
   transform:rotate(135deg);
   transition:.25s ease-in-out;
}
nav div.nav_toggle.selected_toggle .toggle_bar:nth-child(2) {
   opacity:0;
   left:10px;
   width:0;
   transition:.5s ease-in-out;
}
nav div.nav_toggle.selected_toggle .toggle_bar:nth-child(3) {
   top:5px;
   -webkit-transform:rotate(-135deg);
   -ms-transform:rotate(-135deg);
   transform:rotate(-135deg);
   transition:.25s ease-in-out;
}

nav ul.nav_list > li {
   text-align:center;
}

/* we hide all submenu dropdowns on mobile.. */
nav ul.nav_list li ul,
nav ul.nav_list li a  {
   display:none;
   text-decoration:none;
}
/* ..then restore the top level label links */
nav ul.nav_list > li > a  {
   position:relative;
   display:block;
   font-size:2rem;
   margin:1rem auto 0 auto;
   padding:.5rem;
}

/* toggle sm/mobile nav dropdown */
nav ul.nav_list.extended_nav_dropdown {
   -webkit-transform:translateY(110vh);
   -ms-transform:translateY(110vh);
   transform:translateY(110vh);
   opacity:1;
   transition:transform .5s ease-in-out,opacity .5s ease-in-out;
}
/* maintain <a> spacing on transitions */
nav ul.nav_list li ul li a {margin:1rem; }

/* 
   lg top main nav and full dropdown 
   we support dropdown width @910px determined by four cols of reasonable text length 
*/
@media screen and (min-width: 910px) {
   /* logo_block provides overlay in front of moving dropdown */
   nav div.logo_block {
      position:relative;
      -webkit-box-flex:2;
      -ms-flex-positive:2;
      flex-grow:2;
   }
   nav ul.nav_list {
      background:transparent;
   }
   nav ul.nav_list > li {
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;      
      -webkit-box-align:center;
      -ms-flex-align:center;
      align-items:center;   
      min-height:var(--nav_bar_height);
   }
   nav ul.nav_list li a.nav_list_label {
      margin:0;
      padding:1rem 2rem 1rem 2rem;
      z-index:var(--over_over_nav_layer);
   }
   /* toggle sm/mobile nav dropdown */
   nav ul.nav_list.extended_nav_dropdown {
      background:hsl(190, 87%, 41%);
      -webkit-transform:0;
      -ms-transform:0;
      transform:0;
      opacity:1;
      transition:transform .5s ease-in-out,opacity .5s ease-in-out;
   }
   .nav_subdomain_label {
      font-weight:300;
      font-style:italic;
      cursor:unset;
   }

   nav ul.nav_list li a.nav_list_label:hover,
   nav ul.nav_list a:hover {
      color:white;
   }
   nav ul.nav_list {
      position:unset;

      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-orient:horizontal;
      -webkit-box-direction:normal;
      -ms-flex-direction:row;
      flex-direction:row;

      width:unset;
      height:100%;
      margin:0;
      padding:0 1rem 0 0;
      border-bottom:none;
      
      transform:unset;
      opacity:1;
      transition:none;
   }
   /* reset from mobile */
   nav div.nav_toggle_wrap, nav div.nav_toggle {display:none;}
   nav ul.nav_list *, nav ul.nav_list li ul,nav ul.nav_list li a  {display:block;}
   nav ul.nav_list > li > a,  
   nav ul.nav_list:hover,  
   nav ul.nav_list:hover > li > a {
      transform:unset;
      opacity:1;
      transition:none;
      margin-left:0;
   }  
   /* md/lg dropdowns */
   nav ul.nav_list .nav_list_dropdown {
      position:absolute;
      top:0;
      left:0;
      z-index:var(--nav_layer);
      z-index:var(--under_nav_layer);

      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-orient:horizontal;
      -webkit-box-direction:normal;
      -ms-flex-direction:row;
      flex-direction:row;
      -webkit-box-pack:end;
      -ms-flex-pack:end;
      justify-content:flex-end;
      
      width:100%;
      margin:0;
      padding:5rem 0 0 0; /* extra padding provides bg underneath transparent nav */
      background: hsl(190, 87%, 41%);
      color:white;
      text-align:right;
      font-size:1.25rem;

      -webkit-transform:translateY(-100%);
      -ms-transform:translateY(-100%);
      transform:translateY(-100%);
      opacity:0;
      transition:transform .5s ease-in-out .25s,opacity 3s ease-in-out .2s,border .25s ease-in-out;
   }
   nav ul.nav_list > li > a {font-size:1.75rem;font-weight:400;}
   nav ul.nav_list:hover li > a  {
      display:block;
   }
   .nav_list_dropdown li {
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
      -ms-flex-direction:column;
      flex-direction:column;

      text-align:left;
   }

   /* open it and keep it open */
   nav ul.nav_list li a.nav_list_label:hover + .nav_list_dropdown,
   nav ul.nav_list li a.nav_list_label + .nav_list_dropdown:hover {
      -webkit-transform:translateY(0);
      -ms-transform:translateY(0);
      transform:translateY(0);
      opacity:1;
      /* we add a slight delay to allow user to cleanly click on top-level 'label' link */
      transition:transform .5s ease-in-out .2s,opacity .5s ease-in-out,border .5s ease-in-out;
   }
   
   /* we temp retract dropdown on-the-fly prior to opening new view */
   nav ul.nav_list li a.nav_list_label:hover + .nav_list_dropdown.retract_dropdown,
   nav ul.nav_list li a.nav_list_label + .nav_list_dropdown.retract_dropdown:hover {
      -webkit-transform:translateY(-100%);
      -ms-transform:translateY(-100%);
      transform:translateY(-100%);
      opacity:0;
      transition:transform .5s ease-in-out .25s,opacity 3s ease-in-out .2s,border .25s ease-in-out;
   
   }
}


/* 
   component classes
*/

.app_footer {
   margin:0;
   padding:1rem;
   padding-bottom:6rem;
   background:black;
   color:white;
   text-align:left;
   z-index:var(--song_card_z);
}
.app_footer > ul {
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-bottom:3rem;
}
.app_footer > ul > li > ul > li {
   margin-bottom:.5rem;
}
.foot_note {
   width:100%;
   text-align:center;
}
.app_footer .link,
.app_footer a {
   padding:.25rem;
   border-radius:.5rem;
   color:white;
}
.app_footer .link:hover,
.app_footer a:hover {
   color:black;
   background:lightblue;
}


/* 
   Audio Player
*/
.audio_player {
   position:fixed;
   left:0;
   bottom:0;
   z-index:var(--over_over_over_nav_layer);

   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-pack:center;
   -ms-flex-pack:center;
   justify-content:center;

   width:100%;
   height:76px;
   max-height:76px;
   margin:0 auto;
   padding:.25rem;
   background:white;
   overflow:visible;
   border-top:1px solid grey;
}
.audio_track_title_ctrl {
   margin:0;
   padding:1rem .65rem;
   overflow:hidden;
   background:white;
}
/* .audio_player_player {} */

div.active_track {

   z-index:999;

   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-pack:center;
   -ms-flex-pack:center;
   justify-content:center;
   -webkit-box-align:center;
   -ms-flex-align:center;
   align-items:center;

   height:fit-content;
   padding:.35rem 1rem;
   background:white;
   color:blue;
}
div.active_track:hover {   
   color:blue;
   background:hsl(60, 100%, 60%);
}
img.audoplayer_icon {
   width:24px;
}

ul.player_tracks_list {
   z-index:-1;
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;
   -webkit-box-pack:start;
   -ms-flex-pack:start;
   justify-content:flex-start;
   -webkit-box-align:start;
   -ms-flex-align:start;
   align-items:flex-start;
   gap:0;

   width:fit-content;
   background:white;
   height:fit-content;
   margin:0 auto;
   padding:1rem;
   padding-bottom:4rem;
   border-radius:.5rem;

   /* control height in mobiles/sm */
   height:fit-content;
   min-height:var(--player_tracks_list_height);
   overflow-y:scroll;
   scrollbar-color: hsl(0, 0%, 75%) hsl(0, 0%, 94%); 
   scrollbar-width:thin;


   -webkit-transform:translateY(0);
   -ms-transform:translateY(0);
   transform:translateY(0);
   opacity:0;
   transition:transform .5s ease-in-out .25s,opacity 1s ease-in-out .2s,border .25s ease-in-out;
}
ul.player_tracks_list.open_tracklist,
ul.player_tracks_list:hover  {
   z-index:-1;
   -webkit-transform:translateY(-110%);
   -ms-transform:translateY(-110%);
   transform:translateY(-110%);
   opacity:1;
   transition:transform .5s ease-in-out .25s,opacity 1s ease-in-out .2s,border .25s ease-in-out;
}


/* we limit feature_block width in lg (TrackCard container) to keep porthole img aligned w/ TrackCard */
section.track_cards_list {
   width:100%;
}
@media screen and (min-width: 1110px) {
   section.track_cards_list {
      width:75%;
   }
}

/* style audio element */
/* https://blog.shahednasser.com/how-to-style-an-audio-element */
audio {
   width:100%;
   height:40px;
}
audio::-webkit-media-controls-enclosure {
   border-radius:0;
}
audio::-webkit-media-controls-panel {
   background:white;
}
audio::-webkit-media-controls-play-button {
   border-radius:50%;
}


/* tracks */
.tracks_list {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;
   gap:2rem;
}
.track_card {
   position:relative;
   z-index:var(--track_listing_z);
   width:fit-content;
   min-width:500px;
   margin:.5rem auto;
   padding:1rem;
   color:black;   
   background:white;
   border:solid 1px hsl(0, 0%, 90%);
   border-radius:.5rem;
   -webkit-box-shadow:5px 5px 10px rgba(0,0,0,.35);
   box-shadow:5px 5px 10px rgba(0,0,0,.35);
   text-align:center;
   font-stretch: expanded;
   user-select:none;
   white-space:nowrap;
}
section.track_card > * {
   margin:0;
   padding:0;
}
section.track_card > h6 {
   font-size:.9rem;
   color:grey;
}
section.track_card > p {
   margin-top:2.5rem;
   margin-bottom:2.5rem;
   line-height:.8rem;
   color:hsl(0, 0%, 20%);
}
section.track_card > p > span.display_block {
   min-width:90%;
}
.track_card > img.play_track_icon {
   position:absolute;
   top:.75rem;
   right:1rem;
   width:24px;
   height:24px;
   cursor:pointer;
   padding:.25rem;
   user-select:none;
}
.track_card > img.play_track_icon:hover {
   border:solid 2px grey;
   border-radius:50%;
}
@media screen and (max-width: 768px) {
   .track_card {
      width:94%;
      min-width:94%;
      max-width:94%;
      margin:auto;
      margin-top:1rem;
      padding:1rem;
   }
   .track_card p {
      margin:0 auto;
      white-space:wrap;
   }
}
/* section.track_card_bg {
   
} */

/* 
//    section
//    section is the base element
*/
section {
   position:relative;
   max-width:100%;
   margin:0;
   margin-top:var(--block_y_margins);
   margin-bottom:var(--block_y_margins);
   padding-left:0;
   padding-right:0;
   overflow-x:hidden;  

   /* background-image is specific to each section & defined as inline style */
   /* background-attachment:fixed;
   background-repeat:no-repeat;
   background-size: cover;
   background-color:white; */
}   


/* section > ul - to present items/tiles/imgs etc. */
section > ul {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;

   max-width:100%;
   margin-left:auto;
   margin-right:auto;
   padding-left:var(--section_inline_padding);
   padding-right:var(--section_inline_padding);
}
section > ul > li {
   -webkit-box-flex:1;
   -ms-flex:1;
   flex:1;
   /* mobile convention stacks w/ image at top - we facilitate w/ a default stack order */
   order:100;
}
/* utilities to re-order stacking */
section > ul > li.stack_1 {order:1;}
section > ul > li.stack_2 {order:2;}
section > ul > li.stack_3 {order:3;}
section > ul > li.stack_4 {order:4;}


@media screen and (min-width: 810px) {

   section {
      /* limit effective width of all sections - but we allow full width for background imgs : */

      margin-top:var(--block_y_margins);
      margin-bottom:var(--block_y_margins);
      margin-left:auto;
      margin-right:auto;

      text-align:var(--default_text_align);
   }
   section > ul {
      -webkit-box-orient:horizontal;
      -webkit-box-direction:normal;
      -ms-flex-direction:row;
      flex-direction:row;  /* md/lg screens */
      gap:2.25rem;
      height:auto;
      padding-left:var(--section_inline_padding);
      padding-right:var(--section_inline_padding);
      padding-top:0;
      padding-bottom:0;
   }
   section  ul  li  img {
      width:100%;
      height:var(--section_img_height);
      display:block;  /* prevent browser's inline element spacing */
      object-fit: cover;
   }

   /* set all mobile stacking order to default - thus enabling normal flow order */ 
   section > ul > li.stack_1 {order:100;}
   section > ul > li.stack_2 {order:100;}
   section > ul > li.stack_3 {order:100;}
   section > ul > li.stack_4 {order:100;}
}



/* 
//   section.cover_block 
//   option for opaque bg under text to simplify img selection
*/
section.cover_block {
   position:relative;
   
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;

   -webkit-box-pack:center;
   -ms-flex-pack:center;
   justify-content:center;

   width:100%;
   min-height:75vh;
   height:var(--cover_block_height);
   overflow:hidden;
   /* background:hsl(190, 87%, 41%); */
}
.cover_fade_in {
   -webkit-animation: fade-in 1s;
   animation: fade-in 1s;
}
.pre_cover_fade_in {
   opacity:0;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
section.hero_block {
   min-height:var(--header_height);
   margin-top:-120px !important; /* displace nav_bar height */
   z-index:var(--cover_block_z);
   border-bottom:solid 2px white;
 }
section.cover_block p {
   margin-left:0;
   margin-right:0;
   font-size:1.2rem;
}
section.cover_block .bg_img {
   position:absolute;
   top:0;
   right:0;
   z-index:1;
   min-width:100%;
   height:100%;
   min-height:75vh;
   object-fit: cover;
}
.z_n1 {z-index:-1;}

/* we can start w/ dim if img is too bright */
section.cover_block::before {
   content:'';
   position:absolute;
   top:0;
   left:0;
   z-index:var(--cover_block_before_z);
   width:100%;
   height:100%;
   background:black;
   opacity:0;
}
section.cover_block.dim_10::before {opacity:.1;}
section.cover_block.dim_15::before {opacity:.15;}
section.cover_block.dim_20::before {opacity:.2;}
section.cover_block.dim_30::before {opacity:.3;}
section.cover_block.dim_40::before {opacity:.4;}


section.cover_block .bg_img.position_center {
   left:auto !important;
   right:auto !important;
}
section.cover_block div.overlay {
   
   /* we need to stay afloat above the bubbles! */
   position:relative;
   z-index:var(--cover_block_overlay_z);
   
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;

   -webkit-box-pack:center;
   -ms-flex-pack:center;
   justify-content:center;

   max-width:90%;
   margin-left:.5rem;
   margin-right:.5rem;
   padding:.5rem;
}

/* 
timeline UI 
*/
section.cover_block.timeline {
   position:relative;
   color:white;
   /* z-index : background img */
}
section.cover_block.timeline h2 {
   color:white;
   margin:0;
   margin-top:2rem;
}
section.cover_block.timeline img {
   position:fixed;
   top:0;
   z-index:-900;
}
section.cover_block.timeline > div.overlay {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   flex-direction:column;
   -webkit-box-pack:center;
   -ms-flex-pack:center;
   justify-content:center;
   -webkit-box-align:center;
   -ms-flex-align:center;
   align-items:center;
   /* gap:1rem; */
   padding:0;
}
section.cover_block.timeline > div.overlay > ul {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -ms-flex-wrap:wrap;
   flex-wrap:wrap;
   -webkit-box-pack:center;
   -ms-flex-pack:center;
   justify-content:center;
   gap:1rem;
   height:100%;
   padding:0;
}
section.cover_block.timeline > div.overlay > ul > li {
   position:relative;
   border:solid 1px white;
   border-radius:.5rem;
   padding:.5rem;
   min-width:140px;
   text-align:center;
   height:fit-content;
   border:solid 1px white;
}
/* dimmer to give semi-opaque bg on each album tag */
section.cover_block.timeline > div.overlay > ul > li::before {
   content:'';
   position:absolute;
   top:0;
   left:0;

   /* note : this dimmer blocks any click events on covered li element so we set z as '-1' */
   z-index:-1;

   width:100%;
   height:100%;
   background:white;
   opacity:.15;
}
section.cover_block.timeline > div.overlay > ul > li:has(a)::before {
   opacity:.25;
}
/* highlight timeline elem on hover - 'brighten' */
section.cover_block.timeline > div.overlay > ul > li:hover:has(a)::before {
   opacity:.35;
}
@media screen and (min-width: 910px) { 
   section.cover_block.timeline > div.overlay {
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
      flex-direction:column;
      gap:1rem;
   }
   section.cover_block.timeline > div.overlay > ul {
      -ms-flex-wrap:wrap;
      flex-wrap:wrap;
      width:90%;
      -webkit-box-pack:start;
      -ms-flex-pack:start;
      justify-content:flex-start;
   }
   section.cover_block.timeline > div.overlay > ul > li {
      border:none;
      min-width:unset;
      border:solid 1px white;
      white-space:nowrap;
   }
   section.cover_block.timeline h2 {
      -ms-flex-item-align:start;
      align-self:flex-start;
      padding-left:2rem;
      font-size:2.5rem;
      font-weight:300;
      letter-spacing:1rem;
   }
}
section.cover_block h1 {
   font-size:calc(var(--h1_size) * 1);
   /* line-height:calc(var(--h1_size) * 1.1); */
   margin:0;
   white-space:wrap;
   color:white;
}
@media screen and (max-width: 910px) { 
   section.cover_block h1 {
      font-size:2.5rem;
   }
}
section.cover_block h4 {
   font-size:1.75rem;
   font-weight:300;
   color:lightgrey;
   font-weight:400;
   opacity:.7;
   margin:0 1rem !important;
   line-height:1.75rem;
   width:fit-content !important;
   white-space:nowrap;
   padding:0 .5rem !important;
}
section.cover_block h4,
section.cover_block p {
   margin:0;
}
.text_right {
   text-align:right;
}

section.cover_block.content_at_start {
   -webkit-box-pack:start;
   -ms-flex-pack:start;
   justify-content:flex-start;
}
section.cover_block.content_at_end {
   -webkit-box-pack:end;
   -ms-flex-pack:end;
   justify-content:flex-end;
   padding-bottom:3rem;
}


@media screen and (min-width: 910px) {
   
   section.cover_block h1 {
      position:relative;
      z-index:var(--cover_block_h1_z);
      font-size:calc(var(--h1_size) * 1.3);
      /* line-height:calc(var(--h1_line_height) * 1); */
      margin:0;
      padding:0;
      max-width:50%;
   }
   section.cover_block h1,
   section.cover_block h2, 
   section.cover_block h3, 
   section.cover_block h4, 
   section.cover_block h5,
   section.cover_block h6  {
      margin:0;
      padding:0;
   }
   
}

@media screen and (min-width: 910px) {
   section.cover_block h1 {
      font-size:calc(var(--h1_size) * 1.5);
   }
}


/* 
//    section.feature_tiles
*/
section.feature_tiles {
   width:100%;
   max-width:100%;
   height:fit-content;
   padding:0;
   padding-top:.5rem;
}
section.feature_tiles > ul {
   display:-ms-grid;
   display:grid;
   -ms-grid-columns:1fr;
   grid-template-columns:1fr;
   -ms-flex-wrap:wrap;
   flex-wrap:wrap;   
   gap:1rem;

   padding:1rem;
}
section.feature_tiles > ul > li {
   /* display:-webkit-box;
   display:-ms-flexbox;
   display:flex;   
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;
   -webkit-box-pack:start;
   -ms-flex-pack:start;
   justify-content:flex-start; 
   gap:0;*/
   margin:.25rem;
   margin-bottom:3rem;
   text-align:center;
}
/* section.feature_tiles > ul > li > * {
   -webkit-box-flex:0;
   -ms-flex-positive:0;
   flex-grow:0;
} */
section.feature_tiles  > ul > li > img {
   max-width:100%;
   max-height:50%;
   border-radius:.5rem .5rem 0 0;
}
section.feature_tiles  > ul > li > button {
   margin:.5rem;
   /* we need to stay afloat above the bubbles! */
   position:relative;
   z-index:var(--button_z);
}

section.feature_tiles > h3,
section.feature_tiles h4,
section.feature_tiles  > ul > li > h5,
section.feature_tiles  > ul > li > h6 {
   margin-top:.5rem;
   margin-bottom:.5rem;
   padding-top:0;
   padding-bottom:0;
}
section.feature_tiles p {
   margin-left:0;
   margin-right:0;
   margin-top:1rem;
   margin-bottom:1rem;
   font-size:1.1rem;
}

@media screen and (min-width: 610px) {
   section.feature_tiles > ul {     
      -ms-grid-columns:1fr 1fr; 
      grid-template-columns:1fr 1fr;
   }
   section.feature_tiles.col_2 > ul > li {
      min-width:48%;
      max-width:48%;
   }
}
@media screen and (min-width: 910px) {
   section.feature_tiles > ul { 
      -ms-grid-columns:1fr 1fr 1fr;     
      grid-template-columns:1fr 1fr 1fr;
   }
}


/*
//    section.feature_block
*/
section.feature_block {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;

   max-width:100%;
   margin-top:2rem;
   margin-bottom:2rem;
   padding:0;
   padding-bottom:1rem;

   overflow:hidden; /* to permit float_in behaviours w/out scrollbar */
}
section.feature_block > img {
   width:100%;
   margin:0 auto 0 auto;
}
section.feature_block > figure {
   height:fit-content;
   padding:0;
}
section.feature_block > figure > img {
   width:100%;
   margin:0;
}
section.feature_block > div {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;
   -ms-flex-pack:distribute;
   justify-content:space-around;
   -webkit-box-align:start;
   -ms-flex-align:start;
   align-items:flex-start;  
   gap:1rem;
   
   padding:2rem;
   text-align:center;
}
section.feature_block h1,
section.feature_block h2,
section.feature_block h3,
section.feature_block h4,
section.feature_block h5, 
section.feature_block h6 {
   max-width:100%;
   white-space:wrap;
   text-align:center;
}
section.feature_block button {
   margin-left:auto;
   margin-right:auto;
}
section.feature_block p {
   margin-left:0;
   margin-right:0;
   font-size:1.1rem;
   text-align:center;
}
section.feature_block > div > *:not(button) {
   margin:0;
   padding:0;
}
@media screen and (min-width: 810px) {
   section.feature_block {
      -webkit-box-orient:horizontal;
      -webkit-box-direction:normal;
      -ms-flex-direction:row;
      flex-direction:row;

      margin-top:3rem;
      margin-bottom:3rem;
   }
   section.feature_block.reverse_order {
      -webkit-box-orient:horizontal;
      -webkit-box-direction:reverse;
      -ms-flex-direction:row-reverse;
      flex-direction:row-reverse;
   }
   /* section.feature_block.col_reverse {flex-direction:row-reverse;}  */
   section.feature_block img {
      width:30%;
      max-height:300px;
      margin-top:2.5rem;  
      margin:0;
   }
}


/* 
//    BUBBLES ANIMATION
*/
/*
bubbles drift off-screen adding x-scrollbar - we contain to apply 'overflow:hidden'
added bonus - bubbles now drift under TrackCards - better UX and effect
future : we brought in legacy from js site - make these variations programmatically!
*/
section.bubble_container {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   overflow:hidden;
}
div.bubble {
   position:absolute;
   z-index:var(--bubble_z);
   border-radius:50%;
   -webkit-transition:bottom .002s;
   -o-transition:bottom .002s;
   transition:bottom .002s;
}
#bubble_primary.float_up {
   bottom:00%;
   left:10%;
   width:0%;
   height:0%;
   opacity:.21;
}
#bubble_primary_lighter.float_up {
   bottom:23%;
   left:33%;
   width:0%;
   height:0%;
   opacity:.41;
}
#bubble_secondary.float_up {
   bottom:35%;
   left:00%;
   width:0%;
   height:0%;
   opacity:.1;
}
#bubble_secondary_lighter.float_up {
   bottom:15%;
   left:67%;
   width:0%;
   height:0%;
   transition:bottom .002s ;
   opacity:.21;
}
#bubble_light.float_up {
   bottom:00%;
   left:40%;
   width:0%;
   height:0%;
   opacity:.1;
}
#bubble_light_lighter.float_up {
   bottom:18%;
   left:21%;
   width:0%;
   height:0%;
   opacity:.31;
}
#bubble_dark.float_up {
   bottom:20%;
   left:25%;
   width:0%;
   height:0%;
   transition:bottom .002s;
   opacity:.21;
}
#bubble_dark_lighter.float_up {
   bottom:22%;
   left:53%;
   width:0%;
   height:0%;
   opacity:.1;
}
#bubble_accent.float_up {
   bottom:05%;
   left:00%;
   width:0%;
   height:0%;
   opacity:.1;
}
#bubble_accent_lighter.float_up {
   bottom:15%;
   left:18%;
   width:0%;
   height:0%;
   opacity:.41;
}


/* impression is movement to right since width is increasing that direction... */
#bubble_primary.floated_up {
   bottom:100%;
   left:10%;
   width:20%;
   height:10%;
   -webkit-transition:bottom 07s, opacity 3s;
   -o-transition:bottom 07s, opacity 3s;
   transition:bottom 07s, opacity 3s;
}
#bubble_primary_lighter.floated_up {
   bottom:100%;
   left:10%;
   width:05%;
   height:02%;
   -webkit-transition:bottom 07s, opacity 3s;
   -o-transition:bottom 07s, opacity 3s;
   transition:bottom 08s, opacity 2s;
}
#bubble_secondary.floated_up {
   bottom:100%;
   left:10%;
   width:27%;
   height:13%;
   -webkit-transition:bottom 16s, opacity 7s;
   -o-transition:bottom 16s, opacity 7s;
   transition:bottom 16s, opacity 7s;
}
#bubble_secondary_lighter.floated_up {
   bottom:100%;
   left:10%;
   width:34%;
   height:16%;
   -webkit-transition:bottom 16s, opacity 7s;
   -o-transition:bottom 16s, opacity 7s;
   transition:bottom 16s, opacity 7s;
}
#bubble_light.floated_up {
   bottom:100%;
   left:10%;
   width:20%;
   height:10%;
   -webkit-transition:bottom 11s, opacity 5s;
   -o-transition:bottom 11s, opacity 5s;
   transition:bottom 11s, opacity 5s;
}
#bubble_light_lighter.floated_up {
   bottom:100%;
   left:10%;
   width:10%;
   height:05%;
   -webkit-transition:bottom 11s, opacity 5s;
   -o-transition:bottom 11s, opacity 5s;
   transition:bottom 11s, opacity 5s;
}
#bubble_dark.floated_up {
   bottom:100%;
   left:10%;
   width:40%;
   height:20%;
   -webkit-transition:bottom 17s, opacity 7s;
   -o-transition:bottom 17s, opacity 7s;
   transition:bottom 17s, opacity 7s;
}
#bubble_dark_lighter.floated_up {
   bottom:100%;
   left:10%;
   width:440%;
   height:21%;
   -webkit-transition:bottom 17s, opacity 6s;
   -o-transition:bottom 17s, opacity 6s;
   transition:bottom 17s, opacity 6s;
}
#bubble_accent.floated_up {
   bottom:100%;
   left:10%;
   width:08%;
   height:04%;
   -webkit-transition:bottom 12s, opacity 5s;
   -o-transition:bottom 12s, opacity 5s;
   transition:bottom 12s, opacity 5s;
}
#bubble_accent_lighter.floated_up {
   bottom:100%;
   left:10%;
   width:24%;
   height:12%;
   -webkit-transition:bottom 12s, opacity 6s;
   -o-transition:bottom 12s, opacity 6s;
   transition:bottom 12s, opacity 6s;
}


/* 
//    PORTHOLE IMG
*/
section.feature_block {
   position:relative;
}
section.feature_block img.porthole {
   border-radius:50%;
   width:220px;
   height:220px;
   opacity:1;
   z-index:var(--porthole_z);
   border:solid 6px white;
}
@media screen and (min-width: 810px) {

   section.feature_block img.margin_top_6 {margin-top:6rem;}
   section.feature_block img.margin_top_8 {margin-top:8rem;}
   section.feature_block img.margin_top_10 {margin-top:10rem;}
   section.feature_block img.margin_top_12 {margin-top:12rem;}
   section.feature_block img.margin_top_14 {margin-top:14rem;}
   section.feature_block img.margin_top_15 {margin-top:15rem;}
   section.feature_block img.margin_top_16 {margin-top:16rem;}
   section.feature_block img.margin_top_20 {margin-top:20rem;}
   section.feature_block img.margin_top_26 {margin-top:26rem;}
   
   /* move portholes to on right-side of card */
   section.feature_block img.margin_left_neg_2 {margin-left:-2rem;}
   section.feature_block img.margin_left_neg_8 {margin-left:-8rem;}
   section.feature_block img.margin_left_neg_10 {margin-left:-10rem;}
   section.feature_block img.margin_left_neg_12 {margin-left:-12rem;}
   section.feature_block img.margin_left_neg_14 {margin-left:-14rem;}
   section.feature_block img.margin_left_neg_15 {margin-left:-15rem;}
   section.feature_block img.margin_left_neg_16 {margin-left:-16rem;}
   section.feature_block img.margin_left_neg_18 {margin-left:-18rem;}
   section.feature_block img.margin_left_neg_25 {margin-left:-25rem;}
   section.feature_block img.margin_left_neg_26 {margin-left:-18rem;}
   
   /* move portholes to on left-side of card */
   section.feature_block img.margin_right_neg_4 {margin-right:-4rem;}
   section.feature_block img.margin_right_neg_6 {margin-right:-6rem;}
   section.feature_block img.margin_right_neg_10 {margin-right:-10rem;}
   section.feature_block img.margin_right_neg_11 {margin-right:-11rem;}
   section.feature_block img.margin_right_neg_12 {margin-right:-12rem;}
   section.feature_block img.margin_right_neg_14 {margin-right:-14rem;}
   section.feature_block img.margin_right_neg_15 {margin-right:-15rem;}
   section.feature_block img.margin_right_neg_25 {margin-right:-25rem;}
   section.feature_block img.margin_right_neg_26 {margin-right:-18rem;}

   section.feature_block img.opacity_1 {opacity:.2;}
   section.feature_block img.opacity_2 {opacity:.35;}
   section.feature_block img.opacity_2_5 {opacity:.2;}
   section.feature_block img.opacity_3 {opacity:.3;}
   section.feature_block img.opacity_4 {opacity:.4;}
   section.feature_block img.opacity_5 {opacity:.5;}
   section.feature_block img.opacity_6 {opacity:.6;}
   section.feature_block img.opacity_7 {opacity:.7;}
   section.feature_block img.opacity_8 {opacity:.8;}
   section.feature_block img.opacity_9 {opacity:.9;}

   section.feature_block img.porthole_xs {width:200px;height:200px;}
   section.feature_block img.porthole_sm {width:230px;height:230px;}
   section.feature_block img.porthole_md {width:250px;height:250px;}
   section.feature_block img.porthole_lg {width:275px;height:275px;}
   section.feature_block img.porthole_xl {width:300px;height:300px;}
}


/* 
//       SONG CARD
*/
section.feature_block > div.song_card {
   position:relative;
   z-index:var(--song_card_z);
   min-width:400px;
   margin:1rem .5rem 2rem 0.5rem;
   padding-top:3rem;
   border:solid 1px hsl(0, 0%, 90%);
   border-radius:.5rem;
   -webkit-box-shadow:5px 5px 10px -2px rgba(0,0,0,.1);
   box-shadow:5px 5px 10px -2px rgba(0,0,0,.1); 
   gap:0;
}
section.feature_block > div.song_card > h6,
section.feature_block > div.song_card > p {
   margin-bottom:2rem;
}
@media screen and (max-width: 768px) {
   section.feature_block > div.song_card {
      min-width:unset;
      max-width:96%;
   }
}

/* we need sections to appear over BubbleAnimator layer */
section.feature_tiles {
   position:relative;
   z-index:var(--song_card_z);
}
li.album_teaser {
   background:white;
   border:solid 1px hsl(0, 0%, 70%);
   border-radius:.5rem;
   -webkit-box-shadow:5px 5px 10px -2px rgba(0,0,0,.1);
   box-shadow:5px 5px 10px -2px rgba(0,0,0,.1); 
}
li.album_teaser > img {
   height:200px;
}



/*
   Behaviours
*/

/* hero banner type_in overlay text */
.type_in_from_left_init,
section.cover_block div.overlay.type_in_from_left_init {
   white-space:wrap;
   width:100%;
}
section.cover_block div.overlay h1,
section.cover_block div.overlay h2,
section.cover_block div.overlay h3,
section.cover_block div.overlay h4 {
   white-space:wrap;
   max-width:80%;
}
/* mobile - fade in album title */
.type_in_from_left_init,
section.cover_block div.overlay.type_in_from_left_init {
   opacity:0;
   -webkit-transition:opacity .2s ease-in-out .2s;
   -o-transition:opacity .2s ease-in-out .2s;
   transition:opacity .2s ease-in-out .2s;
}
.type_in_from_left,
section.cover_block div.overlay.type_in_from_left {
   opacity:1;
   -webkit-transition:opacity .75s ease-in-out .5s;
   -o-transition:opacity .75s ease-in-out .5s;
   transition:opacity .75s ease-in-out .5s;
}
section.cover_block div.overlay h4 {
   margin:0 .5rem !important;
   font-size:1.25rem;
}
@media screen and (min-width: 768px) {
   /* lg - type_in effect */
   .type_in_from_left_init,
   section.cover_block div.overlay.type_in_from_left_init {
      max-width:0px;
      padding:0;
      white-space:nowrap;
      -webkit-transition:max-width .2s ease-in-out .2s;
      -o-transition:max-width .2s ease-in-out .2s;
      transition:max-width .2s ease-in-out .2s;
      overflow:hidden;
   }
   .type_in_from_left,
   section.cover_block div.overlay.type_in_from_left {
      width:100%;
      max-width:100%;
      -webkit-transition:max-width .75s ease-in-out .5s;
      -o-transition:max-width .75s ease-in-out .5s;
      transition:max-width .75s ease-in-out .5s;
   }
   section.cover_block div.overlay h1,
   section.cover_block div.overlay h2,
   section.cover_block div.overlay h3,
   section.cover_block div.overlay h4 {
      white-space:nowrap;
      width:100%;
      max-width:100%;
      padding-left:1rem;
   }
   
   section.cover_block div.overlay h4 {
      margin:0 .75rem !important;
   }
}

@media screen and (min-width: 1000px) {
   section.cover_block div.overlay h4 {
      font-size:1.5rem;
   }
}
/* 
to retain type_in_from_left using width transition, we don't want to text vertically stacking as the width changes - 
so we always fit text size to screen (approx. using title.length in TypeInTitle component to modify h1 font-size
*/
@media screen and (min-width: 768px) {
   div.overlay h1 {font-size:4rem;font-weight:600;line-height: 4rem !important;}
   div.overlay h1.long_title{font-size:2.5rem;font-weight:600;line-height: 2.5rem !important;padding-bottom:2rem;}
   div.overlay h1.x_long_title {font-size:1.75rem;font-weight:600;line-height: 2.5rem !important;}
}
@media screen and (min-width: 910px) {
   div.overlay h1 {font-size:5rem;font-weight:600;line-height: 5rem !important;}
   div.overlay h1.long_title{font-size:3rem;font-weight:600;line-height: 3rem !important;padding-bottom:2rem;}
   div.overlay h1.x_long_title {font-size:2rem;font-weight:600;line-height: 2.75rem !important;}
}
@media screen and (min-width: 1000px) {
   div.overlay h1 {font-size:5rem;font-weight:600;line-height: 5rem !important;}
   div.overlay h1.long_title{font-size:4rem;font-weight:600;line-height: 4rem !important;padding-bottom:2rem;}
   div.overlay h1.x_long_title {font-size:2.75rem;font-weight:600;line-height: 3.5rem !important;}
}
@media screen and (min-width: 1100px) {
   div.overlay h1 {font-size:6rem;font-weight:600;line-height: 6rem !important;}
   div.overlay h1.long_title{font-size:5rem;font-weight:600;line-height: 5rem !important;padding-bottom:2rem;}
   div.overlay h1.x_long_title {font-size:3rem;font-weight:600;line-height: 4.2rem !important;}
}
@media screen and (min-width: 1210px) {
   div.overlay h1 {font-size:7rem;font-weight:600;line-height: 7.2rem !important;}
   div.overlay h1.long_title{font-size:6rem;font-weight:600;line-height: 6rem !important;padding-bottom:2rem;}
   div.overlay h1.x_long_title {font-size:3.4rem;font-weight:600;line-height: 4.5rem !important;}
}


/* section/cards fade in */
.fade_in {
   opacity:0;
   -webkit-transition:opacity .45s ease-in-out;
   -o-transition:opacity .45s ease-in-out;
   transition:opacity .45s ease-in-out;
}
.fade_in_slow {
   -webkit-transition:opacity .45s ease-in-out;
   -o-transition:opacity .45s ease-in-out;
   transition:opacity .45s ease-in-out;
}
.appear {
   opacity:1;
   -webkit-transition:opacity .35s ease-in-out;
   -o-transition:opacity .35s ease-in-out;
   transition:opacity .35s ease-in-out;
}
/* 
   utility classes
*/
.flex {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
}
.flex_col {
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;
}
.flex_row {
   -webkit-box-orient:horizontal;
   -webkit-box-direction:normal;
   -ms-flex-direction:row;
   flex-direction:row;
}
.space_around {
   -ms-flex-pack:distribute;
   justify-content:space-around;
}
.justify_center {
   -webkit-box-pack:center;
   -ms-flex-pack:center;
   justify-content:center;
}
.justify_end {
   -webkit-box-pack:end;
   -ms-flex-pack:end;
   justify-content:flex-end;
}
.align_items_center {
   -webkit-box-align:center;
   -ms-flex-align:center;
   align-items:center;
}
.align_items_end {
   -webkit-box-align:end;
   -ms-flex-align:end;
   align-items:flex-end;
}
.gap_1 {gap:1rem;}
.gap_2 {gap:2rem;}

.text_left {text-align:left;}
.italic {font-style:italic;}
.w_100 {width:100%;}

.h_100 {height:100%;}

.m_0 {margin:0;}
.m_1 {margin:1rem;}
.m_2 {margin:2rem;}
.ml_2 {margin-left:2rem;}
.mt_0 {margin-top:0 !important;}
.mb_2 {margin-bottom:2rem;}
.my_1 {margin-top:1rem;margin-bottom:1rem;}

.p_0 {padding:0;}
.p_\.25 {padding:.25rem;}
.p_\.35 {padding:.35rem;}
.p_\.5 {padding:.5rem;}
.p_1 {padding:1rem;}
.p_2 {padding:2rem;}
.px_2 {padding-left:2rem;padding-right:2rem;}
.px_\.5 {padding-left:.5rem;padding-right:.5rem;}
.pl_\.5 {padding-left:.5rem;}

.border {border:solid 1px lightgrey;}

.bg_yellow {background: yellow;}
.bg_white {background:white;}

.display_block {
   display:block;
}
.link {
   color: #646cff;
}

.relative {position:relative;}

.cursor_pointer {
   cursor:pointer;
}
.highlight {
   background:hsl(60, 100%, 76%);
}
.highlight_hover:hover {
   background:hsl(60, 100%, 80%);
}

.text_lg {
   font-size:1.1rem;
}
.text_center {
   text-align:center;
}

.w_100 {
   width:100%;
}

.no_user_select {
   user-select:none;
}

/* handle TrackCard line wraps in sm */
.line_1 {
   line-height:1.5rem;
}
.line_height_2 {line-height:2rem;}
@media screen and (min-width: 768px) {
   .line_1 {
      line-height:1.5rem;
   }
}

.font_100 {font-weight:100;}
.font_300 {font-weight:300;}
.font_400 {font-weight:400;}
.font_500 {font-weight:500;}
.font_600 {font-weight:600;}
.font_700 {font-weight:700;}
.font_900 {font-weight:900;}

.font_\.9 {font-size:.9rem;}
.font_\.95 {font-size:.95rem;}
.font_1 {font-size:1rem;}
.font_1\.2 {font-size:1.2rem;}
.font_1\.25 {font-size:1.25rem;}
.font_1\.5 {font-size:1.5rem;}
.font_1\.75 {font-size:1.75rem;}
.font_2 {font-size:2rem;}

.letter_1 {letter-spacing:1rem;}

section.snapshots_layer {
   position:absolute;
   z-index:0;
   top:5%;
   left:0px;
   width:100%;
   min-height:100%;
   max-height:80%;
   background:transparent;
}
img.snapshot {
   position:absolute;
   left:0;
   z-index:1;
   top:200px;
   width:120%;
   transform:rotate(2deg);
   overflow:hidden;
   opacity:.8;
   background-repeat:no-repeat;
}

a.iteration_link {
   z-index:var(--track_listing_z);
   color:white;
   cursor:pointer;
   padding:.15rem .25rem;
   border-radius:.5rem;
   width:100%;
   height:100%;
}


.no_user_select {
   user-select:none;
}

/* encourage user to get below the fold */
.lyrics_and_links {

   position:absolute;
   top:calc(var(--cover_block_height) - 17.5vh);
   left: 0;
   right: 0;
   margin: auto;
   z-index:var(--just_under_nav_layer);

   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-align:center;
   -ms-flex-align:center;
   align-items:center;
   gap:.5rem;

   color:blue;
   font-size:.9rem;
   font-weight:100 !important;
   border:solid 1px lightgrey;
   border-radius:0;
   padding:.5rem;
}
button.lyrics_and_links:hover {
   border:none;
   color:grey;
   font-weight:100;
   border:solid 1px white;
}
button.lyrics_and_links:hover >  a{
   color:white;
}
.lyrics_and_links > a {
   color:lightgrey;
   font-weight:100 !important;
}
.lyrics_and_links > a:hover {
   color:grey;
}

/*
   if route /ablums/unknown_album, we want the notification above the hero block
*/
section.not_found_error {
   position:absolute;
   top:35%;
   left:10%;
   z-index:var(--just_under_nav_layer);
   width:fit-content;
   padding:1rem;
   background:white;
   border-radius:.5rem;
}